body {
	 counter-reset: my-counter;
	 padding-bottom: 200px;
}

div {
	font-family: "Ubuntu", "Arial", sans-serif;
}

a {
	text-decoration: none;
}

.header {
	width: 1160px;
	margin: 0 auto;
	margin-top: 20px;
}

.logo {
	float: left;
}

.logo a {
	transition: all 0.3s ease;
	position: relative;
	top: 0px;
	z-index: 99;
}

.logo a:hover {
	transition: all 0.3s ease;
	position: relative;
	top: 2px;
	z-index: 99;
}

.social-media {
	float: right;
}

.social-media li {
	display: inline-block;
	margin-left: 5px;
}

/* - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ HEADER SPRITES - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ */

#fb-icon {
	background:url('../img/facebook-sprite.png') no-repeat;
    display: inline-block;
    opacity: 1;
    position: relative;
    text-indent: -9999px;
    width: 22px;
    height: 25px;
    background-position: 0px 0px;
}

#fb-icon span {
	background: url('../img/facebook-sprite.png') no-repeat;
    display: inline-block;
    opacity: 0;
    position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
    text-indent: -9999px;
    width: 22px;
    height: 25px;
    background-position: 0px -24px;
    transition: all 0.3s ease;
}

#fb-icon:hover span {
	transition: all 0.3s ease;
	opacity: 1;
}

#twitter-icon {
	background:url('../img/twitter-sprite.png') no-repeat;
    display: inline-block;
    opacity: 1;
    position: relative;
    text-indent: -9999px;
    width: 22px;
    height: 25px;
    background-position: 0px 0px;
}

#twitter-icon span {
	background: url('../img/twitter-sprite.png') no-repeat;
    display: inline-block;
    opacity: 0;
    position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
    text-indent: -9999px;
    width: 22px;
    height: 25px;
    background-position: 0px -24px;
    transition: all 0.3s ease;
}

#twitter-icon:hover span {
	transition: all 0.3s ease;
	opacity: 1;
}

#rss-icon {
	background:url('../img/rss-sprite.png') no-repeat;
    display: inline-block;
    opacity: 1;
    position: relative;
    text-indent: -9999px;
    width: 22px;
    height: 25px;
    background-position: 0px 0px;
}

#rss-icon span {
	background: url('../img/rss-sprite.png') no-repeat;
    display: inline-block;
    opacity: 0;
    position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
    text-indent: -9999px;
    width: 22px;
    height: 25px;
    background-position: 0px -24px;
    transition: all 0.3s ease;
}

#rss-icon:hover span {
	transition: all 0.3s ease;
	opacity: 1;
}

#linkedin-icon {
	background:url('../img/linkedin-sprite.png') no-repeat;
    display: inline-block;
    opacity: 1;
    position: relative;
    text-indent: -9999px;
    width: 22px;
    height: 25px;
    background-position: 0px 0px;
}

#linkedin-icon span {
	background: url('../img/linkedin-sprite.png') no-repeat;
    display: inline-block;
    opacity: 0;
    position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
    text-indent: -9999px;
    width: 22px;
    height: 25px;
    background-position: 0px -24px;
    transition: all 0.3s ease;
}

#linkedin-icon:hover span {
	transition: all 0.3s ease;
	opacity: 1;
}

#skype-icon {
	background:url('../img/skype-sprite.png') no-repeat;
    display: inline-block;
    opacity: 1;
    position: relative;
    text-indent: -9999px;
    width: 22px;
    height: 25px;
    background-position: 0px 0px;
}

#skype-icon span {
	background: url('../img/skype-sprite.png') no-repeat;
    display: inline-block;
    opacity: 0;
    position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
    text-indent: -9999px;
    width: 22px;
    height: 25px;
    background-position: 0px -24px;
    transition: all 0.3s ease;
}

#skype-icon:hover span {
	transition: all 0.3s ease;
	opacity: 1;
}

/* - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ / HEADER SPRITES - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ - ~ */

.top-menu {
	clear: both;
}

.top-menu li {
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #2a2d32;
	color: white;
	text-transform: uppercase;
	height: 46px;
	border-right: 1px solid #181a1d;
}

.top-menu a {
	color: white;
	transition: all 0.2s ease;
}

.top-menu a:hover {
	color: #f4b60d;
	transition: all 0.2s ease;
}

.search-form {
	position: relative;
	width: 150px;
}

.search-form input {
	border: 1px solid #181a1d;
	font-size: 18px;
	width: 240px;
	background-color: #35383c;

}

.search-form button {
	border: 0px;
	cursor: pointer;
	display: block;
	width: 20px;
	height: 20px;
	background: gray url('../img/search.png') no-repeat;
	opacity: 0.5;

}

.search-form button:hover {
	opacity: 1;
}

.content {
	width: 1160px;
	margin: 0 auto;	
}

.iii-block {
	counter-increment: my-counter;
	display: inline-block;
	margin-right: 100px;
	overflow: hidden;
}

.iii-block h3 {
	text-transform: capitalize;
	font-size: 20px;
	font-weight: bold;
}

.iii-block:before {
  content: counter(my-counter, decimal-leading-zero);
  font-size: 90px;
  font-weight: 500;
  opacity: 0.06;
  float: left;
}

.block-text {
	width: 200px;
	float: left;
}

.read-more-link {
	margin-top: 20px;
}

.iii-block a {
	transition: all 0.2s ease;
	color: #2a2b2e;
	font-weight: bold;
	margin-top: 20px;
}

.iii-block a:hover {
	transition: all 0.2s ease;
	color: #248cec;

}

.iii-block a:after {
	content: '';
	width: 10px;
	height: 10px;
	background-image: url('../img/small-arrow-sprite.png') no-repeat 0px 0px;

}

.services {
	background-color: #2a2d32;
	color: white;
	margin-top: 100px;
	
}

.services h2 {
	font-size: 30px;
	text-transform: capitalize;
	
}

.services h3 {
	padding-top: 20px;
	padding-bottom: 40px;
	text-transform: capitalize;
	text-align: center;
}

.services-sub-block {
	display: inline-block;

}

.double-block {
	overflow: hidden;
	padding-top: 20px;
	background-color: #f7f7f7;

}

.double-block h2 {
	font-size: 28px;
	text-transform: capitalize;
	font-weight: bold;
}

.news-block {
	overflow: hidden;
}

.latest-news {
	float: left;
	width: 560px;
	margin-bottom: 48px;
}

.latest-news h4 {
	font-weight: bold;
	font-size: 18px;
}

.img-block {
	float: left;
}

.news-text {
	width: 373px;
	float: right;
}

.news-text h4 {
	text-transform: capitalize;
	font-size: 15px;
}

.banners-place {
	float: right;
	width: 560px;
}

.sponsors {
	text-align:center;
	margin-top: 80px;
	margin-bottom: 80px;
	opacity: .65;
}

.sponsors a {
	transition: all 0.3s ease;
	position: relative;
	top: 0;
	
}

.sponsors a:hover {
	transition: all 0.3s ease;
	position: relative;
	top: 0px;
	opacity: .45;

}

.sp-logo {
	display: inline-block;
	margin-left: 27px;
	margin-right: 27px;
}

.footer {
	width: 1160px;
	margin: auto;
}

.ultimate-footer {
	overflow: hidden;
	background-color: #35383c;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.ufooter {
	display: inline-block;
	float: left;
	color: #6f7073;
}

.address {
	margin-right: 34px;
}

.address::before {
	content: '';
	width: 300px;
	height: 6px;
	background-image: url('../img/location-sprite.png');
}

.phone {
	margin-right: 42px;
}

.email a {
	color: #868789;
}

.email a:hover {
	transition: all 0.4s ease;
	color: #248cec;
}

.copyright {
	float: right;
	color: #6f7073;
}