body {
	 counter-reset: my-counter;
	 padding-bottom: 200px;
}

div {
	
}

a {
	text-decoration: none;
}

.header {
	width: 1160px;
	margin: 0 auto;
}

.logo {
	float: left;
}

.logo a {
	transition: all 0.2s ease;
	position: relative;
	top: 0px;
	z-index: 99;
}

.logo a:hover {
	transition: all 0.2s ease;
	position: relative;
	top: 2px;
	z-index: 99;
}

.social-media {
	float: right;
}

.top-menu {
	clear: both;
}

.top-menu li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #2a2d32;
	color: white;
	text-transform: uppercase;
	height: 46px;
	border-right: 1px solid #181a1d;
}

.top-menu a {
	color: white;
	transition: all 0.2s ease;
}

.top-menu a:hover {
	color: #f4b60d;
	transition: all 0.2s ease;
}

.content {
	width: 1160px;
	margin: 0 auto;	
}

.iii-block {
	counter-increment: my-counter;
	display: inline-block;
	margin-right: 100px;
	overflow: hidden;
}

.iii-block h3 {
	text-transform: capitalize;
	font-size: 20px;
	font-weight: bold;
}

.iii-block:before {
  content: counter(my-counter, decimal-leading-zero);
  font-size: 64px;
  font-weight: bold;
  opacity: 0.2;
  float: left;
}

.block-text {
	width: 200px;
	float: left;
}

.read-more-link {
	margin-top: 20px;
}

.iii-block a {
	transition: all 0.2s ease;
	color: #2a2b2e;
	font-weight: bold;
	margin-top: 20px;
	

}

.iii-block a:hover {
	transition: all 0.2s ease;
	color: #248cec;

}

.iii-block a:after {
	content: '';
	width: 10px;
	height: 10px;
	background-image: url('../img/small-arrow-sprite.png') no-repeat 0px 0px;

}

.services {
	background-color: #2a2d32;
	color: white;
	margin-top: 100px;
	
}

.services h2 {
	font-size: 30px;
	text-transform: capitalize;
	
}